*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 18px;
}
body{
  margin: 4vh;
  width: 1000px;
}
.container{
  display: flex;
  width: 1000px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}
.sidebar{
  width: 900px;
  position: fixed;
  border: apx solid #eee;
  border-radius: 3px;
  padding: 15px;
  height: 170px;
  margin-top: 45px;
  margin-right: ;
  margin-right: 1850px;
  box-shadow: 0px 0px 3px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.data{
  width: 92%;
  border-radius: 3px;
  height: 92vh;
  overflow-y: auto;
}
.fa-circle{
  color: orangered;
}
.searchbar{
  width: 400px;
  margin-left: 25%;
  background-color: #eee;
  border-radius: 3px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input{
  border: none;
  outline: none;
  background: none;
}
.glass:hover{
  color: orangered;
  cursor: pointer;
}
.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-brands{
  font-size: 30px;
  margin: 20px;
  margin-top: -5px;
  color: #333;
  cursor: pointer;
}
.fa-brands:hover{
  color: orangered;
}
.top{
  height: 60px;
  width: 920px;
  border-radius: 3px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 15px;
}
.header{
  height: 200px;
  width: 300%;
  border-radius: 3px;
  background-color: ;
  margin: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
#root{
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}
.box{
  margin: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
}
.img-box{
  width: 100%;
  height: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images{
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  object-position: center;
}
.bottom{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
h2{
  font-size: 40px;
  color: orangered;
}
button{
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #333;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover{
  background-color: orangered;
}
::-webkit-scrollbar{
  display: none;
}
